@use './src/sass/variables' as *;

.header {
  padding: 2.5rem 2rem;
  width: 20vw;

  p {
    margin-bottom: 0;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    flex-direction: column;
  }
  &-logo {
    margin-bottom: .25rem;
  }
  &-title {
    font-weight: 800;
    font-size: 1.1rem;
    text-align: right;
  }
  @media (max-width: 1199px) {
    padding: 1rem;
    width: 100%;

    &-container {
      flex-direction: row;
    }
    &-logo {
      margin: 0 .75rem 0 1rem;
    }
  }
}
